* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: 'source sans pro', sans-serif !important;
  overflow-x: hidden !important; }

img {
  max-width: 100%; }

h2 {
  font-weight: bold !important; }

/*
---------------------------------------------------
CONTAINER STYLE
---------------------------------------------------
*/
.container {
  width: 1740px;
  max-width: 85%;
  margin: auto; }

/*
---------------------------------------------------
TXT STYLE
---------------------------------------------------
*/
.green-dark-color {
  color: #1b1b1b; }

.white {
  color: #fff !important; }

.orange {
  color: #fc3000; }

.blue {
  color: #0f0072; }

.yellow {
  color: #ffea02; }

.title {
  font-size: 5em;
  font-weight: bold;
  text-transform: unset !important; }

@media screen and (max-width: 768px) {
  .title {
    font-size: 3em; } }

.uppercase {
  text-transform: uppercase; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.lighter {
  font-family: "roboto light";
  line-height: 1.62;
  margin-bottom: 25px;
  margin-top: 5px; }

.regular {
  font-weight: 700; }

.normal {
  font-weight: normal;
  margin: 15px 0;
  line-height: 1.6; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.l-height-normal {
  line-height: 1.6; }

.decoration-none {
  text-decoration: none; }

.flex-items-center {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

@media screen and (max-width: 1268px) {
  .flex-items-center {
    display: block;
    text-align: center; } }

.section-padding {
  padding: 70px 0; }

.scrollTop {
  padding: 25px;
  background: black;
  color: yellow; }
