.btn-creations {
  // position: relative;
  cursor: pointer;
  // border: 1px solid #0f0072;
  background: #0f0072;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 0.8em;
  margin-top: 15px;
  margin-bottom: -15px;
  display: block;
  text-align: center;

  &:hover {
    // border: 1px solid rgba(209, 184, 21, 0.2);
    // border: 1px solid #fc3000;
    background: #fc3000;
    color: #fff;
  }
}

.space-between {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
  // margin-top: -35%
}