.btn-creations {
  cursor: pointer;
  background: #0f0072;
  text-transform: uppercase;
  transition: background 0.3s ease;
  color: #fff;
  font-size: 0.8em;
  margin-top: 15px;
  margin-bottom: -15px;
  display: block;
  text-align: center; }
  .btn-creations:hover {
    background: #fc3000;
    color: #fff; }

.space-between {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px; }
