.creationsPage2 {
  width: 1400px;
  max-width: 100%;
  margin: auto;
  // margin-top: 50px;
  // font-family: "roboto";
  background: #fff;
  padding: 40px 15px;
  color: #0f0072 !important;
  // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.034);
  // transition: width 3s linear;

  img {
    margin-top: 35px;
  }

  // @media screen and (max-width: 768px) {
  //   width: 90%;
  // }
  // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.091);

  .block-content {
    position: relative;
    // border: 2px solid #f7e307;
    border-left: transparent;
    padding-bottom: 50px;
    min-height: 500px;

    // &:before,
    // &:after {
    //   position: absolute;
    //   content: "";
    //   width: 40px;
    //   height: 7px;
    //   top: -5px;
    //   left: 190px;
    //   background: #ffea02;
    // }
    // &:after {
    //   width: 7px;
    //   height: 40px;
    //   position: absolute;
    //   left: 100%;
    //   margin-left: -2px;
    //   margin-top: 155px;
    //   bottom: 0;
    // }

    .block-nb-id {
      display: inline-block;
      background: #fff;
      margin-top: 0px;
      color: #f5f5f5;

      .id-project {
        font-size: 4em;
        font-weight: bold;
      }

      .length-project {
        display: inline-block;
        font-size: 1.8em;
        font-weight: lighter;
        margin-top: 65px;
        margin-left: 5px;
        transition: 1s linear;

        // &:after {
        //   content: "";
        //   position: absolute;
        //   width: 500px;
        //   max-width: 50%;
        //   margin-top: 10px;
        //   margin-left: 30px;
        //   height: 9px;
        //   overflow: hidden;
        //   background: #0f0072;
        //   z-index: 97;
        // }

        // &:before {
        //   position: absolute;
        //   content: "";
        //   width: 0;
        //   margin-top: 10px;
        //   margin-left: 72px;
        //   z-index: 98;
        //   height: 9px;
        //   background: #ffea02;
        //   animation: animated 0.5s linear;
        // }
      }

      @keyframes animated {
        0% {
          width: 0;
        }

        25% {
          width: 100px;
        }

        50% {
          width: 250px;
        }

        100% {
          width: 500px;
        }
      }
    }

    .creations-title {
      font-size: 4.5em;
      text-transform: uppercase;
      // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.074);
      text-align: center;
      margin-top: 15px;
      margin-bottom: 25px;
      font-weight: bold;
      color: #0f0072;
      letter-spacing: 5px;

      @media screen and (max-width: 768px) {
        font-size: 2.2em;
      }

      // &:before {
      //   position: absolute;
      //   content: "";
      //   display: inline-block;
      //   width: 100%;
      //   margin: auto;
      //   display: block;
      //   height: 15px;
      //   margin-top: 57px;
      //   background: #fff;
      //   @media screen and (max-width: 768px) {
      //     margin-top: 32px;
      //   }
      // }
    }

    .creations-title-bis {
      font-weight: normal;
      text-transform: uppercase;
      opacity: 0.6;
    }

    .item-name {
      position: relative;
      margin-left: 15px;
      margin-top: 10px;
      font-size: 1.2em;
      text-transform: capitalize;

      &:after {
        position: absolute;
        content: "";
        width: 25px;
        height: 5px;
        background: #0f0072;
        margin-top: 20px;
        margin-left: 4px;
      }
    }

    .content-slide-img {
      margin-top: 50px;

      img {
        max-width: 100%;
      }
    }

    .block-btn {
      width: 100%;
      margin-top: 30px;
      text-align: center;

      .btn-see-link {
        width: 150px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #0f0072;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.8em;

        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        &:nth-child(1) {
          background: #0f0072;
          color: #fff;
        }
      }
    }

    .infos-txt {
      // margin-top: 90px;

      .block-txt {
        width: 500px;
        max-width: 100%;
        margin-top: 20px;

        // &:nth-child(2) {
        //   margin-left: 75px;
        // }

        // &:nth-child(3) {
        //   margin-left: 150px;
        // }

        .title-infos {
          font-family: 'Cookie', cursive;
          font-size: 45px;
          color: #0f0072;
          font-weight: normal !important;
        }

        .txt-infos {
          line-height: 1.6;
          margin-top: 10px;
          color: #0f0072;
          // font-weight: normal;
        }
      }
    }
  }
}

.container-creations-bis {
  width: 1200px;
  max-width: 100%;
  // padding: 20px;
  margin: auto;
}

.grid-creations-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) !important;
  grid-gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-gap: 0;
  }
}

.arrow-btn {
  cursor: pointer;
  outline: none;
  position: absolute;
  font-size: .8em;
  font-weight: normal;
  z-index: 999;
  color: #0f0072;
  background: transparent;
  border: none;
  transition: 0.3s ease-in-out;

  &:hover {
    font-size: 0.9em;
  }
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.top {
  top: 30px;
}

.bottom {
  bottom: 50px;
}

.container-arrow {
  position: relative;
  width: 1000px;
  max-width: 90%;
  margin: auto;
}