.portfolio-section {
  background: #fdfdfd;
  border-top: 1px solid rgba(15, 0, 114, 0.017);
  min-height: 100vh;
  color: #0f0072;
  background-size: contain; }

.link-read-more {
  position: absolute;
  bottom: 10px;
  right: 25px;
  text-decoration: none;
  display: block;
  color: #fc3000;
  transition: 0.3s ease;
  font-weight: bold; }
  .link-read-more:hover {
    color: #0f0072; }
