.container-700-px {
  width: 700px;
  max-width: 95%;
  margin: auto;
  padding: 0 20px; }

#bg-header {
  width: 100%;
  position: relative;
  height: 100vh;
  background: #ffea02 url("../../images/header/bg-header.png") no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (max-width: 768px) {
  #bg-header {
    background: #ffea02;
    height: 100vh; } }

#bg-header .txt-header {
  font-size: 1.6em;
  color: #0f0072;
  line-height: 1.6;
  margin-top: 20px; }

@media screen and (max-width: 768px) {
  #bg-header .txt-header {
    font-size: 1.2em; } }

#bg-header .orange-triangle {
  position: relative; }

#bg-header .orange-triangle:after {
  position: absolute;
  content: "";
  border: 15px solid transparent;
  border-bottom: 25px solid #fc3000;
  margin-top: -20px;
  margin-left: -63px; }

@media screen and (max-width: 768px) {
  #bg-header .orange-triangle:after {
    margin-left: -41px; } }

#bg-header .orange-triangle:before {
  position: absolute;
  content: "";
  border: 11px solid transparent;
  border-bottom: 20px solid #ffea02;
  margin-top: -12.5px;
  margin-left: 151.5px;
  z-index: 999; }

@media screen and (max-width: 768px) {
  #bg-header .orange-triangle:before {
    margin-left: 89px; } }

.txt-width {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 25px;
  font-weight: lighter;
  font-size: 1.2em; }
