.container-700-px {
  width: 700px;
  max-width: 95%;
  margin: auto;
  padding: 0 20px;
}

#bg-header {
  width: 100%;
  position: relative;
  // display: inline-block;
  height: 100vh;
  background: #ffea02 url("../../images/header/bg-header.png") no-repeat;
  background-size: cover;
  // background-position: 40% 38%;
  background-position: center;

  @media screen and (max-width: 768px) {
    background: #ffea02;
    height: 100vh;
  }

  .txt-header {
    font-size: 1.6em;
    color: #0f0072;
    line-height: 1.6;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      font-size: 1.2em;
    }
  }

  .orange-triangle {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      border: 15px solid transparent;
      border-bottom: 25px solid #fc3000;
      margin-top: -20px;
      margin-left: -63px;

      @media screen and (max-width: 768px) {
        margin-left: -41px;
      }
    }

    &:before {
      position: absolute;
      content: "";
      border: 11px solid transparent;
      border-bottom: 20px solid #ffea02;
      margin-top: -12.5px;
      margin-left: 151.5px;
      // margin-left: 66.8px;
      z-index: 999;

      @media screen and (max-width: 768px) {
        margin-left: 89px;
        margin-top: -10px;
      }
    }
  }
}


.txt-width {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 25px;
  font-weight: lighter;
  font-size: 1.2em;
}